body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

#app {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

p {
    margin-right: 1em;
}

.done {
    text-decoration: line-through;
}